body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.gallery-item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 200px;
    margin-bottom: 40px;
}

.item-info {
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.label {
    padding: 4px;
    border-radius: 4px;
}

.original {
    background-color: white;
}

.grayscale{
    background-color: darkgreen;
    color: #eeeeee;
}

.sepia {
    background-color: salmon;
}

.resize2 {
    background-color: lightgoldenrodyellow;
}
.resize3 {
    background-color: palegoldenrod;
}
.resize4 {
    background-color: goldenrod;
}
.resize5 {
    background-color: gold;
}

.negate {
    background-color: cornflowerblue;
}

